*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: norse-bold;
    src: url("fonts/Norse-Bold.otf");
}

@font-face {
    font-family: norwester;
    src: url("fonts/norwester.otf" );
}

body {
    display: flex;
    background-color: whitesmoke;
    height: 100vh;
}

.sidebar {
    height: 100%;
    background-image: url(images/tomas-malik-ylEcpQDbsCM-unsplash.jpg);
    background-size: cover;
    flex-basis: 35%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title {
    background-color: hsl(0, 0%, 0%, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    width: 100%;
}

.odin-lined {
    max-height: 200px;
    padding: 20px;
}
span.odin {
    font-size: 8rem;
    color: white;
    font-family: "norse-bold";
}

p.footer {
    color: white;
    margin-top: 85%;
    background-color: hsl(0, 0%, 0%, 0.8);
    font-size: 1em;
}

a.reference {
    color: white;
}
.main {
    height: 100%;
    max-width:100%;
    padding: 0 60px;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 50px;
}

p.text {
    width: 700px;
    font-weight: bold;
    font-size: 1.5rem;
}

.sign-up {
    display: inline-block;
}
form {
    max-width: 100%;

}
.input-container {
    height: 400px;
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 20px 3px gray;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1.call-to-action {
   margin: 10px 30px 20px;
}

.first-row, .second-row, .third-row {
    display: flex;
    gap: 80px;
    margin-left: 30px;
}
.input {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    border-radius: 2px;
    border: 1px solid lightgray;
    width: 350px;
}

input:focus {
    outline-color: royalblue;
    box-shadow: 1px 1px 2px 2px gray;
}

input[type="password"]:invalid {
    outline-color: red;
}

button {
    border-radius: 5px;
    background-color: #596D48;
    color: white;
    font-weight: 600;
    padding: 15px;
    width: 200px;
    border: none;
    margin-top: 50px;
}
