* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: whitesmoke;
}

.sidebar {
    height: 100vh;
    background-image: url(images/tomas-malik-ylEcpQDbsCM-unsplash.jpg);
    background-size: cover;
    flex-basis: 35%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title {
    background-color: hsl(0, 0%, 0%, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    width: 100%;
}

.odin-lined {
    max-height: 200px;
    padding: 20px;
}
span {
    font-size: 4rem;
    color: white;
}

footer {
    color: white;
    margin-top: 90%;
    margin-bottom: 40px;
    background-color: hsl(0, 0%, 0%, 0.8);
    font-size: 1em;
}

a.reference {
    color: white;
}
.main {
    height: 100%;
    max-width:100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    gap: 75px;
}

.input-container {
    height: 400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 1px 1px 20px 3px gray;
}

.input-container .call-to-action {
    display: block;
    margin: 15px;
    width: 100%;
}

.input-container p.input {
    flex: 1 1 50%;
}